dist
node_modules
yarn.lock
*.lock
*.log
*.tsbuildinfo
*.d.ts
*.map
*.test.*
*.spec.*
*.snap
coverage
build
tmp
temp
*.cache
*.tscache
*.eslintcache
*.prettiercache
*.vscode
.idea
.DS_Store
*.bak
*.tmp
*.swp
*.swo
*.zip
